SECRET_KEY
POSTGRES_USER
POSTGRES_PASSWORD
POSTGRES_DB
POSTGRES_HOST
POSTGRES_PORT
DATABASE_URL

MAIL_USERNAME
MAIL_PASSWORD
MAIL_FROM
MAIL_PORT
MAIL_SERVER
MAIL_STARTTLS
MAIL_SSL_TLS
USE_CREDENTIALS

PAYMOB_BASE_URL
PAYMOB_UNIFIED_CHECKOUT_URL
PAYMOB_CURRENCY
PAYMOB_PAYMENT_INTEGRATION_IDS
PAYMOB_API_KEY
PAYMOB_PUBLIC_KEY
PAYMOB_SECRET_KEY
PAYMOB_HMAC

BROKER_URL
